USE [master]
GO
/****** Object:  Database [JCBManagementDB]    Script Date: 10/20/2025 7:29:23 PM ******/
CREATE DATABASE [JCBManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JCBManagementDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\JCBManagementDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'JCBManagementDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\JCBManagementDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JCBManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JCBManagementDB]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 10/20/2025 7:29:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingID] [bigint] IDENTITY(1,1) NOT NULL,
	[CustomerID] [bigint] NOT NULL,
	[MachineID] [bigint] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[Status] [varchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[created_at] [datetime2](6) NULL,
	[notes] [varchar](255) NULL,
	[totalCost] [numeric](38, 2) NULL,
	[updated_at] [datetime2](6) NULL,
	[paymentStatus] [varchar](255) NULL,
	[paymentVerified] [bit] NOT NULL,
	[paymentVerifiedAt] [datetime2](6) NULL,
	[updatedAt] [datetime2](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 10/20/2025 7:29:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[CustomerID] [bigint] IDENTITY(1,1) NOT NULL,
	[Address] [varchar](255) NULL,
	[BusinessEmail] [varchar](100) NULL,
	[City] [varchar](50) NULL,
	[CompanyName] [varchar](100) NOT NULL,
	[ContactPerson] [varchar](100) NOT NULL,
	[Country] [varchar](50) NULL,
	[CreatedAt] [datetime2](6) NULL,
	[PhoneNumber] [varchar](20) NOT NULL,
	[PostalCode] [varchar](20) NULL,
	[UpdatedAt] [datetime2](6) NULL,
	[UserID] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 10/20/2025 7:29:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceID] [bigint] IDENTITY(1,1) NOT NULL,
	[BookingID] [bigint] NOT NULL,
	[Amount] [float] NULL,
	[Status] [varchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[DueDate] [datetime2](6) NULL,
	[InvoiceNumber] [varchar](255) NULL,
	[Notes] [varchar](500) NULL,
	[Paid] [bit] NULL,
	[PaidAt] [datetime2](6) NULL,
	[TaxAmount] [numeric](10, 2) NULL,
	[TotalAmount] [numeric](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Machines]    Script Date: 10/20/2025 7:29:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Machines](
	[MachineID] [bigint] IDENTITY(1,1) NOT NULL,
	[Model] [varchar](255) NULL,
	[Description] [varchar](255) NULL,
	[Status] [varchar](255) NULL,
	[Availability] [bit] NULL,
	[Archived] [bit] NULL,
	[hourlyRate] [numeric](38, 2) NULL,
	[location] [varchar](255) NULL,
	[manufacturer] [varchar](255) NULL,
	[serialNumber] [varchar](255) NULL,
	[yearOfManufacture] [int] NULL,
	[imageUrl] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MachineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaintenanceRecords]    Script Date: 10/20/2025 7:29:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceRecords](
	[RecordID] [bigint] IDENTITY(1,1) NOT NULL,
	[MachineID] [bigint] NOT NULL,
	[MaintenanceDate] [datetime] NOT NULL,
	[Description] [varchar](255) NULL,
	[NextDueDate] [datetime] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](255) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Status] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentSlips]    Script Date: 10/20/2025 7:29:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentSlips](
	[SlipID] [bigint] IDENTITY(1,1) NOT NULL,
	[InvoiceID] [bigint] NULL,
	[FilePath] [varchar](255) NOT NULL,
	[Status] [varchar](255) NULL,
	[UploadedAt] [datetime] NULL,
	[bookingId] [bigint] NULL,
	[remarks] [varchar](255) NULL,
	[verifiedAt] [datetime2](6) NULL,
	[verifiedBy] [varchar](255) NULL,
	[googleDriveFileId] [nvarchar](255) NULL,
	[googleDriveViewLink] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[SlipID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemSettings]    Script Date: 10/20/2025 7:29:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemSettings](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[description] [varchar](255) NULL,
	[settingKey] [varchar](255) NOT NULL,
	[settingValue] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TicketResponses]    Script Date: 10/20/2025 7:29:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketResponses](
	[ResponseID] [bigint] IDENTITY(1,1) NOT NULL,
	[TicketID] [bigint] NOT NULL,
	[UserID] [bigint] NOT NULL,
	[Message] [varchar](255) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ResponseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 10/20/2025 7:29:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[TicketID] [bigint] IDENTITY(1,1) NOT NULL,
	[CustomerID] [bigint] NOT NULL,
	[AssignedStaffID] [bigint] NULL,
	[Subject] [varchar](255) NOT NULL,
	[Description] [varchar](255) NULL,
	[Status] [varchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[category] [varchar](255) NULL,
	[flagged] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/20/2025 7:29:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [bigint] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[Role] [varchar](255) NULL,
	[Email] [varchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[ContactNumber] [varchar](20) NULL,
	[Address] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Machines] ON 

INSERT [dbo].[Machines] ([MachineID], [Model], [Description], [Status], [Availability], [Archived], [hourlyRate], [location], [manufacturer], [serialNumber], [yearOfManufacture], [imageUrl]) VALUES (1, N'jcb', N'test', N'Available', 1, 0, CAST(10.00 AS Numeric(38, 2)), N'kaduwela', N'JCB', N'0000', 2004, NULL)
INSERT [dbo].[Machines] ([MachineID], [Model], [Description], [Status], [Availability], [Archived], [hourlyRate], [location], [manufacturer], [serialNumber], [yearOfManufacture], [imageUrl]) VALUES (2, N'malsange machine eka', N'test', N'Available', 1, 0, CAST(12.00 AS Numeric(38, 2)), N'Kaduwela', N'JCB', N'1234', 2020, NULL)
INSERT [dbo].[Machines] ([MachineID], [Model], [Description], [Status], [Availability], [Archived], [hourlyRate], [location], [manufacturer], [serialNumber], [yearOfManufacture], [imageUrl]) VALUES (3, N'x123', N'new machine', N'Available', 1, 0, CAST(100000.00 AS Numeric(38, 2)), N'gampaha', N'JCB', N'abcd', 2020, N'uploads/machine-images/machine_3_1760967317619.jpg')
SET IDENTITY_INSERT [dbo].[Machines] OFF
GO
SET IDENTITY_INSERT [dbo].[MaintenanceRecords] ON 

INSERT [dbo].[MaintenanceRecords] ([RecordID], [MachineID], [MaintenanceDate], [Description], [NextDueDate], [CreatedAt], [CreatedBy], [StartDate], [EndDate], [Status]) VALUES (8, 1, CAST(N'2025-10-20T11:19:22.957' AS DateTime), N'test', NULL, CAST(N'2025-10-20T11:19:22.893' AS DateTime), N'admin', CAST(N'2025-10-20T11:19:00.000' AS DateTime), CAST(N'2025-10-20T11:21:12.787' AS DateTime), N'SCHEDULED')
SET IDENTITY_INSERT [dbo].[MaintenanceRecords] OFF
GO
SET IDENTITY_INSERT [dbo].[SystemSettings] ON 

INSERT [dbo].[SystemSettings] ([id], [description], [settingKey], [settingValue]) VALUES (1, N'Default hourly rate for machines without a specified rate.', N'default.hourly.rate', N'60.0')
INSERT [dbo].[SystemSettings] ([id], [description], [settingKey], [settingValue]) VALUES (2, N'Maximum allowed size for file uploads (e.g., payment slips) in MB.', N'max.upload.size.mb', N'15')
INSERT [dbo].[SystemSettings] ([id], [description], [settingKey], [settingValue]) VALUES (3, N'Toggle system-wide maintenance mode.', N'system.maintenance.mode', N'false')
SET IDENTITY_INSERT [dbo].[SystemSettings] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [Password], [Role], [Email], [CreatedAt], [FirstName], [LastName], [ContactNumber], [Address]) VALUES (2, N'd123', N'$2a$10$DSFw1/Bo4kAJRap2BFeKKedaEdkjop.vKtBWDZJAEwCgzlKOo3eWG', N'ADMIN', N'jcblanka@yandex.com', CAST(N'2025-09-17T16:56:14.143' AS DateTime), N'First', N'Name', NULL, NULL)
INSERT [dbo].[Users] ([UserID], [Username], [Password], [Role], [Email], [CreatedAt], [FirstName], [LastName], [ContactNumber], [Address]) VALUES (3, N'finance', N'$2a$10$dylp9uvKmlLOg8kRxfjR.u7mrrlxj0vbEQCAxKuNunAevY6RHahIO', N'FINANCE_OFFICER', N'jcblanka@yandex.com', CAST(N'2025-09-17T16:58:04.620' AS DateTime), N'First', N'Name', NULL, NULL)
INSERT [dbo].[Users] ([UserID], [Username], [Password], [Role], [Email], [CreatedAt], [FirstName], [LastName], [ContactNumber], [Address]) VALUES (4, N'booking', N'$2a$10$VBuVucf8rpvJOTR2zOtD.OxE7.JMaYnaiHvOPSBjX5OweyD9/g8zi', N'BOOKING_MANAGER', N'jcblanka@yandex.com', CAST(N'2025-09-17T16:59:05.577' AS DateTime), N'First', N'Name', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [UKtpk333m7e9742leb662ff5tbt]    Script Date: 10/20/2025 7:29:24 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UKtpk333m7e9742leb662ff5tbt] ON [dbo].[customers]
(
	[UserID] ASC
)
WHERE ([UserID] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UKg882s639wa67pdtqrbgbvw1j0]    Script Date: 10/20/2025 7:29:24 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UKg882s639wa67pdtqrbgbvw1j0] ON [dbo].[Invoices]
(
	[BookingID] ASC
)
WHERE ([bookingid] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKma6txygael1r3ebt5pimkb500]    Script Date: 10/20/2025 7:29:24 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UKma6txygael1r3ebt5pimkb500] ON [dbo].[Invoices]
(
	[InvoiceNumber] ASC
)
WHERE ([InvoiceNumber] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_maintenance_date]    Script Date: 10/20/2025 7:29:24 PM ******/
CREATE NONCLUSTERED INDEX [idx_maintenance_date] ON [dbo].[MaintenanceRecords]
(
	[MaintenanceDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_maintenance_machine_id]    Script Date: 10/20/2025 7:29:24 PM ******/
CREATE NONCLUSTERED INDEX [idx_maintenance_machine_id] ON [dbo].[MaintenanceRecords]
(
	[MachineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_maintenance_status]    Script Date: 10/20/2025 7:29:24 PM ******/
CREATE NONCLUSTERED INDEX [idx_maintenance_status] ON [dbo].[MaintenanceRecords]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaintenanceRecords_MachineID]    Script Date: 10/20/2025 7:29:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaintenanceRecords_MachineID] ON [dbo].[MaintenanceRecords]
(
	[MachineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaintenanceRecords_MaintenanceDate]    Script Date: 10/20/2025 7:29:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaintenanceRecords_MaintenanceDate] ON [dbo].[MaintenanceRecords]
(
	[MaintenanceDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MaintenanceRecords_Status]    Script Date: 10/20/2025 7:29:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaintenanceRecords_Status] ON [dbo].[MaintenanceRecords]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PaymentSlips_GoogleDriveFileId]    Script Date: 10/20/2025 7:29:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_PaymentSlips_GoogleDriveFileId] ON [dbo].[PaymentSlips]
(
	[googleDriveFileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKnfh0dha0qbsve0jvu8nrnkmvs]    Script Date: 10/20/2025 7:29:24 PM ******/
ALTER TABLE [dbo].[SystemSettings] ADD  CONSTRAINT [UKnfh0dha0qbsve0jvu8nrnkmvs] UNIQUE NONCLUSTERED 
(
	[settingKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_tickets_category]    Script Date: 10/20/2025 7:29:24 PM ******/
CREATE NONCLUSTERED INDEX [idx_tickets_category] ON [dbo].[Tickets]
(
	[category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_tickets_customer_id]    Script Date: 10/20/2025 7:29:24 PM ******/
CREATE NONCLUSTERED INDEX [idx_tickets_customer_id] ON [dbo].[Tickets]
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_tickets_flagged]    Script Date: 10/20/2025 7:29:24 PM ******/
CREATE NONCLUSTERED INDEX [idx_tickets_flagged] ON [dbo].[Tickets]
(
	[flagged] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_tickets_status]    Script Date: 10/20/2025 7:29:24 PM ******/
CREATE NONCLUSTERED INDEX [idx_tickets_status] ON [dbo].[Tickets]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKr43af9ap4edm43mmtq01oddj6]    Script Date: 10/20/2025 7:29:24 PM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UKr43af9ap4edm43mmtq01oddj6] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4971AE794]    Script Date: 10/20/2025 7:29:24 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Machines] ADD  DEFAULT ((1)) FOR [Availability]
GO
ALTER TABLE [dbo].[Machines] ADD  DEFAULT ((0)) FOR [Archived]
GO
ALTER TABLE [dbo].[MaintenanceRecords] ADD  DEFAULT (getdate()) FOR [MaintenanceDate]
GO
ALTER TABLE [dbo].[MaintenanceRecords] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MaintenanceRecords] ADD  CONSTRAINT [DF_MaintenanceRecords_Status]  DEFAULT ('SCHEDULED') FOR [Status]
GO
ALTER TABLE [dbo].[PaymentSlips] ADD  DEFAULT (getdate()) FOR [UploadedAt]
GO
ALTER TABLE [dbo].[TicketResponses] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('') FOR [FirstName]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('') FOR [LastName]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([MachineID])
REFERENCES [dbo].[Machines] ([MachineID])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK44sprbnrblhm0pwedsf63le8x] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK44sprbnrblhm0pwedsf63le8x]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FKk3w6is6j0c4a5w6yhxr99q5ah] FOREIGN KEY([MachineID])
REFERENCES [dbo].[Machines] ([MachineID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FKk3w6is6j0c4a5w6yhxr99q5ah]
GO
ALTER TABLE [dbo].[customers]  WITH CHECK ADD  CONSTRAINT [FKdbnr46pww6xc7xxaoyhp975dg] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[customers] CHECK CONSTRAINT [FKdbnr46pww6xc7xxaoyhp975dg]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([BookingID])
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FKpb8ccupup89cm9lw7931tc5q5] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([BookingID])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FKpb8ccupup89cm9lw7931tc5q5]
GO
ALTER TABLE [dbo].[MaintenanceRecords]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceRecords_Machine] FOREIGN KEY([MachineID])
REFERENCES [dbo].[Machines] ([MachineID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MaintenanceRecords] CHECK CONSTRAINT [FK_MaintenanceRecords_Machine]
GO
ALTER TABLE [dbo].[PaymentSlips]  WITH CHECK ADD FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[Invoices] ([InvoiceID])
GO
ALTER TABLE [dbo].[PaymentSlips]  WITH CHECK ADD  CONSTRAINT [FK_PaymentSlips_InvoiceID] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[Invoices] ([InvoiceID])
GO
ALTER TABLE [dbo].[PaymentSlips] CHECK CONSTRAINT [FK_PaymentSlips_InvoiceID]
GO
ALTER TABLE [dbo].[TicketResponses]  WITH CHECK ADD FOREIGN KEY([TicketID])
REFERENCES [dbo].[Tickets] ([TicketID])
GO
ALTER TABLE [dbo].[TicketResponses]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD FOREIGN KEY([AssignedStaffID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FKdawrarqebn61isjf6j5ssw965] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FKdawrarqebn61isjf6j5ssw965]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD CHECK  (([category]='BOOKING' OR [category]='PAYMENT'))
GO
/****** Object:  StoredProcedure [dbo].[sp_AddMaintenanceRecord]    Script Date: 10/20/2025 7:29:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AddMaintenanceRecord]
    @MachineID BIGINT,
    @Description NVARCHAR(MAX),
    @CreatedBy VARCHAR(255),
    @MaintenanceDate DATETIME = NULL,
    @StartDate DATETIME = NULL,
    @EndDate DATETIME = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Set default maintenance date if not provided
    IF @MaintenanceDate IS NULL
        SET @MaintenanceDate = GETDATE();
    
    -- Insert the maintenance record
    INSERT INTO MaintenanceRecords (
        MachineID, 
        MaintenanceDate, 
        StartDate,
        EndDate,
        Description, 
        CreatedBy, 
        CreatedAt,
        Status
    )
    VALUES (
        @MachineID, 
        @MaintenanceDate, 
        @StartDate,
        @EndDate,
        @Description, 
        @CreatedBy, 
        GETDATE(),
        'IN_PROGRESS'
    );
    
    -- Update machine status to maintenance
    UPDATE Machines 
    SET Status = 'Maintenance', 
        Availability = 0 
    WHERE MachineID = @MachineID;
    
    -- Return the new record ID
    SELECT SCOPE_IDENTITY() as NewRecordID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CompleteMaintenance]    Script Date: 10/20/2025 7:29:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Create stored procedure for completing maintenance
CREATE   PROCEDURE [dbo].[sp_CompleteMaintenance]
    @RecordID BIGINT,
    @CompletedBy NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @MachineID BIGINT;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Get the machine ID
        SELECT @MachineID = MachineID 
        FROM MaintenanceRecords 
        WHERE RecordID = @RecordID;
        
        -- Update maintenance record
        UPDATE MaintenanceRecords 
        SET 
            Status = 'Completed',
            EndDate = GETDATE()
        WHERE RecordID = @RecordID;
        
        -- Update machine status back to Available
        UPDATE Machines 
        SET Status = 'Available' 
        WHERE MachineID = @MachineID;
        
        COMMIT TRANSACTION;
        
        SELECT 'Success' as Result;
        
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        
        SELECT 
            ERROR_NUMBER() as ErrorNumber,
            ERROR_MESSAGE() as ErrorMessage,
            'Failed' as Result;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CompleteMaintenanceRecord]    Script Date: 10/20/2025 7:29:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Create stored procedure to complete maintenance
CREATE PROCEDURE [dbo].[sp_CompleteMaintenanceRecord]
    @RecordID BIGINT,
    @CompletedBy VARCHAR(255),
    @NextDueDate DATETIME = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @MachineID BIGINT;
    
    -- Get the machine ID
    SELECT @MachineID = MachineID FROM MaintenanceRecords WHERE RecordID = @RecordID;
    
    -- Update the maintenance record
    UPDATE MaintenanceRecords 
    SET EndDate = GETDATE(),
        Status = 'COMPLETED',
        NextDueDate = @NextDueDate
    WHERE RecordID = @RecordID;
    
    -- Update machine status back to available
    UPDATE Machines 
    SET Status = 'Available', 
        Availability = 1 
    WHERE MachineID = @MachineID;
    
    SELECT 'Maintenance completed successfully' as Result;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteMaintenanceRecord]    Script Date: 10/20/2025 7:29:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteMaintenanceRecord]
    @RecordID BIGINT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @MachineID BIGINT;
    DECLARE @Status NVARCHAR(50);
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Get the machine ID and status before deletion
        SELECT @MachineID = MachineID, @Status = Status
        FROM MaintenanceRecords 
        WHERE RecordID = @RecordID;
        
        -- Delete the maintenance record
        DELETE FROM MaintenanceRecords WHERE RecordID = @RecordID;
        
        -- If the record was in progress, update machine status back to available
        IF @Status = 'IN_PROGRESS' AND @MachineID IS NOT NULL
        BEGIN
            UPDATE Machines 
            SET Status = 'Available', 
                Availability = 1 
            WHERE MachineID = @MachineID;
        END
        
        COMMIT TRANSACTION;
        
        SELECT 'Success' as Result;
        
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        
        SELECT 
            ERROR_NUMBER() as ErrorNumber,
            ERROR_MESSAGE() as ErrorMessage,
            'Failed' as Result;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMaintenanceReport]    Script Date: 10/20/2025 7:29:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Create stored procedure for maintenance reports
CREATE PROCEDURE [dbo].[sp_GetMaintenanceReport]
    @Status NVARCHAR(50) = NULL,
    @MachineId INT = NULL,
    @StartDate DATE = NULL,
    @EndDate DATE = NULL
AS
BEGIN
    SELECT * FROM vw_MaintenanceReport
    WHERE (@Status IS NULL OR MaintenanceStatus = @Status)
      AND (@MachineId IS NULL OR MachineId = @MachineId)
      AND (@StartDate IS NULL OR StartDate >= @StartDate)
      AND (@EndDate IS NULL OR StartDate <= @EndDate)
    ORDER BY StartDate DESC;
END;
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Google Drive file identifier for uploaded bank slip images' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PaymentSlips', @level2type=N'COLUMN',@level2name=N'googleDriveFileId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Direct view link to the bank slip file in Google Drive' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PaymentSlips', @level2type=N'COLUMN',@level2name=N'googleDriveViewLink'
GO
USE [master]
GO
