USE [master]
GO
/****** Object:  Database [JCBManagementDB]    Script Date: 9/17/2025 11:13:48 PM ******/
CREATE DATABASE [JCBManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JCBManagementDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\JCBManagementDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'JCBManagementDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\JCBManagementDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JCBManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JCBManagementDB]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 9/17/2025 11:13:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingID] [bigint] IDENTITY(1,1) NOT NULL,
	[CustomerID] [bigint] NOT NULL,
	[MachineID] [bigint] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[Status] [varchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[created_at] [datetime2](6) NULL,
	[notes] [varchar](255) NULL,
	[totalCost] [numeric](38, 2) NULL,
	[updated_at] [datetime2](6) NULL,
	[paymentStatus] [varchar](255) NULL,
	[paymentVerified] [bit] NOT NULL,
	[paymentVerifiedAt] [datetime2](6) NULL,
	[updatedAt] [datetime2](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 9/17/2025 11:13:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[CustomerID] [bigint] IDENTITY(1,1) NOT NULL,
	[Address] [varchar](255) NULL,
	[BusinessEmail] [varchar](100) NULL,
	[City] [varchar](50) NULL,
	[CompanyName] [varchar](100) NOT NULL,
	[ContactPerson] [varchar](100) NOT NULL,
	[Country] [varchar](50) NULL,
	[CreatedAt] [datetime2](6) NULL,
	[PhoneNumber] [varchar](20) NOT NULL,
	[PostalCode] [varchar](20) NULL,
	[UpdatedAt] [datetime2](6) NULL,
	[UserID] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 9/17/2025 11:13:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceID] [bigint] IDENTITY(1,1) NOT NULL,
	[BookingID] [bigint] NOT NULL,
	[Amount] [float] NULL,
	[Status] [varchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[DueDate] [datetime2](6) NULL,
	[InvoiceNumber] [varchar](255) NULL,
	[Notes] [varchar](500) NULL,
	[Paid] [bit] NULL,
	[PaidAt] [datetime2](6) NULL,
	[TaxAmount] [numeric](10, 2) NULL,
	[TotalAmount] [numeric](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Machines]    Script Date: 9/17/2025 11:13:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Machines](
	[MachineID] [bigint] IDENTITY(1,1) NOT NULL,
	[Model] [varchar](255) NULL,
	[Description] [varchar](255) NULL,
	[Status] [varchar](255) NULL,
	[Availability] [bit] NULL,
	[Archived] [bit] NULL,
	[hourlyRate] [numeric](38, 2) NULL,
	[location] [varchar](255) NULL,
	[manufacturer] [varchar](255) NULL,
	[serialNumber] [varchar](255) NULL,
	[yearOfManufacture] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MachineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[maintenance_records]    Script Date: 9/17/2025 11:13:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[maintenance_records](
	[recordid] [bigint] IDENTITY(1,1) NOT NULL,
	[description] [varchar](255) NULL,
	[maintenance_date] [datetime2](6) NULL,
	[machineid] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[recordid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaintenanceRecords]    Script Date: 9/17/2025 11:13:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceRecords](
	[RecordID] [bigint] IDENTITY(1,1) NOT NULL,
	[MachineID] [bigint] NOT NULL,
	[MaintenanceDate] [datetime] NOT NULL,
	[Description] [varchar](255) NULL,
	[NextDueDate] [datetime] NULL,
	[CreatedAt] [datetime] NULL,
	[CompletedAt] [datetime2](6) NULL,
	[Cost] [numeric](10, 2) NULL,
	[CreatedBy] [bigint] NOT NULL,
	[MaintenanceType] [varchar](50) NOT NULL,
	[Notes] [varchar](2000) NULL,
	[PartsUsed] [varchar](1000) NULL,
	[Priority] [varchar](10) NOT NULL,
	[ScheduledDate] [datetime2](6) NULL,
	[Status] [varchar](20) NOT NULL,
	[TechnicianName] [varchar](100) NULL,
	[UpdatedAt] [datetime2](6) NULL,
	[UpdatedBy] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment_slips]    Script Date: 9/17/2025 11:13:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment_slips](
	[slipid] [bigint] IDENTITY(1,1) NOT NULL,
	[file_path] [varchar](255) NULL,
	[status] [varchar](255) NULL,
	[invoiceid] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[slipid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentSlips]    Script Date: 9/17/2025 11:13:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentSlips](
	[SlipID] [bigint] IDENTITY(1,1) NOT NULL,
	[InvoiceID] [bigint] NOT NULL,
	[FilePath] [varchar](255) NOT NULL,
	[Status] [varchar](255) NULL,
	[UploadedAt] [datetime] NULL,
	[bookingId] [bigint] NULL,
	[remarks] [varchar](255) NULL,
	[verifiedAt] [datetime2](6) NULL,
	[verifiedBy] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[SlipID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ticket_responses]    Script Date: 9/17/2025 11:13:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ticket_responses](
	[responseid] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[message] [varchar](255) NULL,
	[ticketid] [bigint] NULL,
	[userid] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[responseid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TicketResponses]    Script Date: 9/17/2025 11:13:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketResponses](
	[ResponseID] [bigint] IDENTITY(1,1) NOT NULL,
	[TicketID] [bigint] NOT NULL,
	[UserID] [bigint] NOT NULL,
	[Message] [varchar](255) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ResponseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 9/17/2025 11:13:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[TicketID] [bigint] IDENTITY(1,1) NOT NULL,
	[CustomerID] [bigint] NOT NULL,
	[AssignedStaffID] [bigint] NULL,
	[Subject] [varchar](255) NOT NULL,
	[Description] [varchar](255) NULL,
	[Status] [varchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[category] [varchar](255) NULL,
	[flagged] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/17/2025 11:13:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [bigint] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[Role] [varchar](255) NULL,
	[Email] [varchar](255) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Tickets] ON 

INSERT [dbo].[Tickets] ([TicketID], [CustomerID], [AssignedStaffID], [Subject], [Description], [Status], [CreatedAt], [UpdatedAt], [category], [flagged]) VALUES (1, 1, 4, N'testIssue1', N'test', N'OPEN', CAST(N'2025-09-17T20:11:53.627' AS DateTime), CAST(N'2025-09-17T20:11:53.627' AS DateTime), N'PAYMENT', 0)
INSERT [dbo].[Tickets] ([TicketID], [CustomerID], [AssignedStaffID], [Subject], [Description], [Status], [CreatedAt], [UpdatedAt], [category], [flagged]) VALUES (4, 1, 4, N'test2', N'test', N'OPEN', CAST(N'2025-09-17T20:31:01.793' AS DateTime), CAST(N'2025-09-17T20:31:01.793' AS DateTime), N'PAYMENT', 0)
INSERT [dbo].[Tickets] ([TicketID], [CustomerID], [AssignedStaffID], [Subject], [Description], [Status], [CreatedAt], [UpdatedAt], [category], [flagged]) VALUES (5, 1, 4, N'd1', N'd1', N'OPEN', CAST(N'2025-09-17T20:48:03.720' AS DateTime), CAST(N'2025-09-17T20:48:03.720' AS DateTime), N'PAYMENT', 0)
SET IDENTITY_INSERT [dbo].[Tickets] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [Password], [Role], [Email], [CreatedAt]) VALUES (1, N'dimuthu', N'$2a$10$9HTmovjHgpFwKKHVlhB1WOzOhhMv5Jogz6AJzV7OH88x7irU/i4cO', N'CUSTOMER', N'kanchanafonseka2004@gmail.com', CAST(N'2025-09-17T16:52:44.837' AS DateTime))
INSERT [dbo].[Users] ([UserID], [Username], [Password], [Role], [Email], [CreatedAt]) VALUES (2, N'd123', N'$2a$10$DSFw1/Bo4kAJRap2BFeKKedaEdkjop.vKtBWDZJAEwCgzlKOo3eWG', N'ADMIN', N'kanchanafonseka2004@gmail.com', CAST(N'2025-09-17T16:56:14.143' AS DateTime))
INSERT [dbo].[Users] ([UserID], [Username], [Password], [Role], [Email], [CreatedAt]) VALUES (3, N'finance', N'$2a$10$dylp9uvKmlLOg8kRxfjR.u7mrrlxj0vbEQCAxKuNunAevY6RHahIO', N'FINANCE_OFFICER', N'kanchanafonseka2004@gmail.com', CAST(N'2025-09-17T16:58:04.620' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [UKtpk333m7e9742leb662ff5tbt]    Script Date: 9/17/2025 11:13:49 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UKtpk333m7e9742leb662ff5tbt] ON [dbo].[customers]
(
	[UserID] ASC
)
WHERE ([UserID] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UKg882s639wa67pdtqrbgbvw1j0]    Script Date: 9/17/2025 11:13:49 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UKg882s639wa67pdtqrbgbvw1j0] ON [dbo].[Invoices]
(
	[BookingID] ASC
)
WHERE ([bookingid] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKma6txygael1r3ebt5pimkb500]    Script Date: 9/17/2025 11:13:49 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UKma6txygael1r3ebt5pimkb500] ON [dbo].[Invoices]
(
	[InvoiceNumber] ASC
)
WHERE ([InvoiceNumber] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UK9ghsrtstx48be9r409h0wfu54]    Script Date: 9/17/2025 11:13:49 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK9ghsrtstx48be9r409h0wfu54] ON [dbo].[payment_slips]
(
	[invoiceid] ASC
)
WHERE ([invoiceid] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKr43af9ap4edm43mmtq01oddj6]    Script Date: 9/17/2025 11:13:49 PM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UKr43af9ap4edm43mmtq01oddj6] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4971AE794]    Script Date: 9/17/2025 11:13:49 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Machines] ADD  DEFAULT ((1)) FOR [Availability]
GO
ALTER TABLE [dbo].[Machines] ADD  DEFAULT ((0)) FOR [Archived]
GO
ALTER TABLE [dbo].[MaintenanceRecords] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PaymentSlips] ADD  DEFAULT (getdate()) FOR [UploadedAt]
GO
ALTER TABLE [dbo].[TicketResponses] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([MachineID])
REFERENCES [dbo].[Machines] ([MachineID])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK44sprbnrblhm0pwedsf63le8x] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK44sprbnrblhm0pwedsf63le8x]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FKk3w6is6j0c4a5w6yhxr99q5ah] FOREIGN KEY([MachineID])
REFERENCES [dbo].[Machines] ([MachineID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FKk3w6is6j0c4a5w6yhxr99q5ah]
GO
ALTER TABLE [dbo].[customers]  WITH CHECK ADD  CONSTRAINT [FKdbnr46pww6xc7xxaoyhp975dg] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[customers] CHECK CONSTRAINT [FKdbnr46pww6xc7xxaoyhp975dg]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([BookingID])
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FKpb8ccupup89cm9lw7931tc5q5] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([BookingID])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FKpb8ccupup89cm9lw7931tc5q5]
GO
ALTER TABLE [dbo].[maintenance_records]  WITH CHECK ADD  CONSTRAINT [FK51uiaxkauu52bjxnfsd4217sp] FOREIGN KEY([machineid])
REFERENCES [dbo].[Machines] ([MachineID])
GO
ALTER TABLE [dbo].[maintenance_records] CHECK CONSTRAINT [FK51uiaxkauu52bjxnfsd4217sp]
GO
ALTER TABLE [dbo].[MaintenanceRecords]  WITH CHECK ADD FOREIGN KEY([MachineID])
REFERENCES [dbo].[Machines] ([MachineID])
GO
ALTER TABLE [dbo].[payment_slips]  WITH CHECK ADD  CONSTRAINT [FK216uo9nfxkk0uaj5a2tts7ab9] FOREIGN KEY([invoiceid])
REFERENCES [dbo].[Invoices] ([InvoiceID])
GO
ALTER TABLE [dbo].[payment_slips] CHECK CONSTRAINT [FK216uo9nfxkk0uaj5a2tts7ab9]
GO
ALTER TABLE [dbo].[PaymentSlips]  WITH CHECK ADD FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[Invoices] ([InvoiceID])
GO
ALTER TABLE [dbo].[ticket_responses]  WITH CHECK ADD  CONSTRAINT [FK66wp60uf90i393x3jpiqddwh2] FOREIGN KEY([userid])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ticket_responses] CHECK CONSTRAINT [FK66wp60uf90i393x3jpiqddwh2]
GO
ALTER TABLE [dbo].[ticket_responses]  WITH CHECK ADD  CONSTRAINT [FKlh2ljoiiu55mvdeq9amsbhg8h] FOREIGN KEY([ticketid])
REFERENCES [dbo].[Tickets] ([TicketID])
GO
ALTER TABLE [dbo].[ticket_responses] CHECK CONSTRAINT [FKlh2ljoiiu55mvdeq9amsbhg8h]
GO
ALTER TABLE [dbo].[TicketResponses]  WITH CHECK ADD FOREIGN KEY([TicketID])
REFERENCES [dbo].[Tickets] ([TicketID])
GO
ALTER TABLE [dbo].[TicketResponses]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD FOREIGN KEY([AssignedStaffID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FKdawrarqebn61isjf6j5ssw965] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FKdawrarqebn61isjf6j5ssw965]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD CHECK  (([category]='BOOKING' OR [category]='PAYMENT'))
GO
USE [master]
GO
